.replies-list {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 10px;
}

.replies-title {
    font-size: 28px;
    font-weight: 600;
    color: rgb(20, 20, 20);
    margin-bottom: 20px;
}