.alert {
    min-width: 420px;
    max-width: 700px;
    position: fixed;
    right: 10px;
    top: 120px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: show_slide 1s ease forwards;
    z-index: 990;
    overflow: hidden;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

.error-alert {
    background-color: rgb(200, 0, 0);
    border-left: 10px solid rgb(130, 0, 0);
}

.success-alert {
    background-color: rgb(46, 204, 64);
    border-left: 10px solid rgb(28, 128, 40);
}

.alert-sign {
    font-size: 30px;
    margin-left: 20px;
}

.error-sign {
    color: rgb(130, 0, 0);
}

.success-sign {
    color: rgb(28, 128, 40);
}

.message {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.close-button-container {
    padding: 20px;
    cursor: pointer;
    transition: background-color 0, 2s ease 0s;
}

.close-button-container:hover {
    opacity: 0.8;
}

.error-close-button-container {
    background-color: rgb(170, 0, 0);
}

.success-close-button-container {
    background-color: rgb(28, 128, 40);
}

.close-button {
    color: white;
    font-size: 20px;
}