header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5% 5px 10%;
}

.logo-container {
    background-color: white;
    border-radius: 45px;
}

.logo-link {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.logo-image {
    width: 90px;
    height: 90px;
    object-fit: contain;
    object-position: center;
}

.navigation-links {
    list-style: none;
}

.navigation-links li {
    display: inline-block;
    padding: 0 20px;
}

.navigation-links li a {
    transition: all 0.3s ease 0s;
}

.navigation-links li a:hover {
    color: rgb(177, 177, 177);
}

.navigation-links li a.selected {
    color: rgb(46, 204, 64);
}