.post-container-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
    padding: 10px 30px;
    border-radius: 16px;
}

.sender-image {
    width: 60px;
    height: 60px;
    object-position: center;
    object-fit: cover;
    border-radius: 30px;
}

.post-container {
    margin-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sender-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px #15202b;
    margin-bottom: 3px;
}

.post-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sender {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.likes-count {
    margin-right: 10px;
    font-size: 15px;
}

.like-button {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.liked-button {
    margin-right: 10px;
    font-size: 20px;
}

.time {
    font-size: 14px;
    color: rgb(120, 120, 120);
}

.content {
    color: black;
    margin-bottom: 10px;
}